[Desktop Entry]
Version=1.1
Type=Application
Name=Language Practice
GenericName=Language Practice
Comment=Flashcard application
Icon=language-practice-icon
Exec=language-practice
Actions=
Categories=X-GNOME-Other;
